*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul,
li,
a,
h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}
body{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.container {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .hide{
    display: none;
  }
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  /* Start Header */
header{
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0 20px lightblue;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

header .container{
  position: relative;
  text-align: center;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
header .container .logo {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container nav{
  position: absolute;

  width: 100%;
  left: 0;
  top: 100%;
  display: none;
}
.toggle-menu{
  display: none;
}
header .container nav ul{
  list-style: none;

  
}
/* header .container nav ul li{} */
header .container nav ul li a{
  color: white;
  font-size: .8rem;
  display: block;
  text-align: left;
  margin: 1em 0 1em 1em;
  text-decoration: none;
  transition: .3s;
}
@media (max-width:767px) {
  header .container nav ul li a:hover{
    color: green;
    padding-left: 5px;
  }
  header .container nav ul {
    background-color: rgb(0 0 0 /60%);
    padding: 1em 0.5em 0.5em;
  }
}
header .container .toggle-menu-label{
  margin-left: 1em;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
header .container .toggle-menu-label span::before,
header .container .toggle-menu-label span::after,
header .container .toggle-menu-label span{
  width: 30px;
  background: white;
  height: 2px;
  border-radius: 4px;
}
header .container .toggle-menu-label span::after,
header .container .toggle-menu-label span::before{
  content: "";
  position: absolute;
}
header .container .toggle-menu-label span::before{  
  left: 0;
  top: 18px;

}
header .container .toggle-menu-label span::after{  
  left: 0;
  bottom: 18px;

}
header .container .toggle-menu:checked ~ nav{
  display: block;
}

/* header in screen from 768px and above*/
@media  (min-width: 768px) {
  header .container .toggle-menu-label{
    display: none;
  }
  header .container{
    display: flex;

    
  }
  
  header .container nav{
  position: relative;
  left: 0;
  top: 100%;
  display: flex;
  justify-content: flex-end;
}
header .container nav ul{
  display: flex;
  justify-content: flex-end;
}
header .container nav ul li a{
  margin:0;
  padding: 1em;
  font-size: 1rem;
}
header .container nav ul li a:hover{
  color: white;
  background-color: rgb(0 100 0 /50%);
}
}

header .container .user-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-left: 2.5em;
}
header .container .user-profile ul{
  position: absolute;
  top: 100%;
  right: 0.5em;
  list-style: none;
  text-align: left;
  background-color: rgb(0 0 0 /60%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
header .container .user-profile ul a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: normal;
  padding: 1em;
}
/* on mobile */
@media (max-width: 767px) {
  header .container .user-profile{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1rem;
    margin-left: 0;
  }
  header .container .user-profile ul{
    top: 183%;
    width: 873%;
  }
  header .container .user-profile ul a{
    margin-top: 10px;
  }
}
/* End Header */
/* Start Landing */
  .landing{
    position: relative;
    z-index: 21;
    height: 100vh;
    background: url("../images/tickests.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /80%);
  }
  .landing p{
    color: white;
    font-weight: bold;
    font-size: 5vw;
    word-spacing: 5px;
  }
  .landing span{
    color: orangered;
  }

/* End Landing */
/* Start Services */
.services{
  padding: 5em 0;
  position: relative;
  z-index: 50;
}
.services > h2{
  text-align: center;
  letter-spacing: 3px;
  font-size: 5vw;
  margin-bottom: 20px;
}
/* .services::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /80%);
} */
.services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 50px;
}
.services .container .card{
  text-align: center;
  font-size: 2vw;
  /* border: 1px solid red; */
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: zoom-in;
  border-bottom: 5px solid white;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .services .container .card{
    box-shadow: 0 0 5px black;
    border-bottom: 5px solid #fc6e30;
  }
}
.services .container .card span{
  padding: 5px;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fc6e30;
  border-radius: 50%;
  margin-bottom: 10px;
}
.services .container .card span i{
  font-size: 2rem;
  color: white;
}
.services .container .card h3{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.services .container .card p{
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  
}
.services .container .card a{
  font-size: 12px;
  text-decoration: none;
  color: white;
  display: block;
  background: #fc6e30;
  padding: 5px 10px;
  border-radius: 5px;
}
.services .container .card:hover{
  box-shadow: 0 0 5px black;
  border-bottom: 5px solid #fc6e30;
}
/* End Services */
/* Start Events */
.events{
  padding: 5em 0;
}
.events > h2{
  text-align: center;
  letter-spacing: 3px;
  font-size: 5vw;
  margin-bottom: 20px;
}
.events .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  text-align: center;
}

.events .container .card{
  padding: .5em .5em 1em;
  box-shadow: 0 0 10px #fc6e30;
  border-radius: 5px;
}
.events .container .card .text{
  padding:1em;
  background-color: #3232;
  border-radius: 5px;
  position: relative;
}
.events .container .card  .text .date{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  background: indianred;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
}
.events .container .card .image img{
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

}
.events .container .card .image{
  position: relative;
}
.events .container .card .image .available{
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 14px;
  background: indianred;
  border: 1px solid;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}
.events .container .card h3{
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.events .container .card p{
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  margin-bottom: 20px;
}
.events .container .card a{
  font-size: 12px;
  text-decoration: none;
  color: white;
  background: #fc6e30;
  padding: 5px 10px;
  border-radius: 5px;
}

/* End Events */
/* Start My Reservatoins */
.my-reservations{
  padding: 5em 0;
  position: relative;
  z-index: 50;
}
.my-reservations > h2{
  text-align: center;
  letter-spacing: 3px;
  font-size: 5vw;
  margin-bottom: 20px;
}
.my-reservations .container{

}
.my-reservations .res-panel{
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: 0 0 10px #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 0 20px 0 20px ;
  -webkit-border-radius: 0 20px 0 20px ;
  -moz-border-radius: 0 20px 0 20px ;
  -ms-border-radius: 0 20px 0 20px ;
  -o-border-radius: 0 20px 0 20px ;
}

.my-reservations .res-panel .panel-buttons{
  color: white;
}
.my-reservations .res-panel .panel-buttons a{
  padding: 5px 15px;
  background-color: #fc6e30;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.my-reservations .res-panel .text{
  flex: 1;
}
.my-reservations .res-panel .text h1{
  color: #777;
  font-size: 1.5rem;
}
.my-reservations .res-panel .image{
  height: 100px;
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.my-reservations .res-panel .image img{
  width: 100px;
  height: 100px;
  max-width: 100%;
}
.my-reservations .res-panel .panel-buttons a:first-child{
  background-color: red;
  color: white;
}
/* on mobile */
@media (max-width: 767px) {
  .my-reservations .res-panel{
    flex-direction: column-reverse;
  }
  .my-reservations .res-panel .text h1{
    font-size: 1.5rem;
    margin-block: 15px;
  }
  .my-reservations .res-panel .panel-buttons a{
    padding: 3px 5px;
    font-size: 1rem;
  }
}
/* End My Reservatoins */
/* Start Contact */
.contact{
  background-color: rgb(0 0 0 /80%);
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 767px) {
  .contact{
    flex-direction: column;
    padding: 1em 1em 5em 1em;
  }
}
.contact .form{
  text-align: center;
}
.contact .form form{
  position: relative;
  display: flex;
}
.contact .form form > i{
  position: absolute;
  left: 0;
  font-size: 20px;
  color: #fc6e30;
  bottom: 5px;
}
.contact .form form input[type = "text"]{
  outline: none;
  background: none;
  border: none;
  padding: 5px 5px 5px 25px;
  border-bottom: 2px solid #fc6e30;
  color: white;
  margin-right: 5px;
  width: 70vw;
  text-align: center;
}
.contact .form form input[type = "submit"]{
  background: none;
  outline: none;
  border: none;
  border-bottom:  2px solid #fc6e30;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.social{
  text-align: center;
  margin-top: 10px;
}
.social > h3 {
  color: white;
  font-size: 20px;
}
.social ul{
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.social ul li a{
  position: relative;
  display: block;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background: #fc6e30;
  border: 1px solid white;
  font-size: 20px;
}
.social ul li a i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Contact */
/* Start Singup */

.signup {
  position: relative;
  height: 100vh;
  /* background: rgb(0 0 0 /60%); */
}
.signup .container{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.signup .container .image{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}
.signup .container .image img{
  max-width: 100%;
}
.signup .container .form{
flex: 1;
height: 500px;
}
.signup .container .form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  width: 50%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0 20px #ddd;
}
.signup .container .form form > input:not(:last-child){
  padding: 0 2px 0 4px;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: .8em;
  border-bottom: 2px solid #bbb6b6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
}
.signup .container .form form input[type="submit"]{
  border-radius: 5px;
  padding: 0.2em 0.5em;
  background: none;
  border: 1px solid gray;
  color: blue;
  margin-top: 1em;
}
/* form on small screen*/
@media (max-width: 767px) {
  .signup .container .image{
    display: none;
  }
  .signup .container{
    position: relative;

  }
  .signup .container .form{
    height: auto;
  }
  .signup .container .form form{
    width: 80%;
    padding-top: 2em;
  }
}
/* End Signup */
